.btn-primary {
    width: 100%;
    background: var(--second-text-color);   
    color: var(--light-text-color);
    font-weight: var(--fw-bold);
    font-size: var(--fs-sm);
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    border: solid transparent 0.15rem;
}

.btn-primary:hover {
    background: var(--primary-color);     
    color: var(--light-text-color);
    border-color: transparent;
}

.btn-secondary {
    width: 100%;
    background: transparent;     
    color: var(--text-color);       
    font-weight: var(--fw-md);
    font-size: var(--fs-sm);
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 1rem;             
    cursor: pointer;
    border: 1px solid var(--secondary-color);
}

.btn-secondary:hover {
    background: var(--light-gray);

    color: var(--text-color);

    border-color: var(--primary-color);
}