#footer {
    background: var(--light-gray);
    padding-block: var(--py-base);
}

.footer-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--py-base);
}

.footer-brand {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-brand h3 {
    color: var(--text-color);
    font-size: var(--fs-base);
}

.footer-brand p {
    color: var(--second-text-color);
    font-size: var(--fs-sm);
}

.footer-social {
    display: flex;
    gap: var(--py-base);
    margin-top: 0.5rem;
}

.footer-social span {
    opacity: 0.8;
    cursor: pointer;
}

.footer-social span:hover {
    opacity: 1;
}

.footer-links {
    display: flex;
    gap: var(--py-base);
    flex-wrap: wrap;
    justify-content: flex-end;
}

.footer-links a {
    color: var(--second-text-color);
    font-size: var(--fs-sm);
    font-weight: var(--fw-base);
}

.footer-links a:hover {
    color: var(--primary-color);
}

.footer-copy {
    width: 100%;
    text-align: center;
    padding-top: var(--py-base);
    margin-top: var(--py-base);
}

.footer-copy p {
    color: var(--second-text-color);
    font-size: var(--fs-sm);
}

@media (max-width: 1279px) {
    .footer-inner {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer-links {
        justify-content: center;
    }

    .footer-social {
        justify-content: center;
    }

    .footer-copy {
        text-align: center;
    }
}